.navbar-brand {
    font-size: 2em;
    display: flex;
    align-items: center;
}
  
.navbar-brand img { 
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 12.5px;
}

.navbar-brand-text {
    font-family: 'sans-serif', system-ui;
    font-size: 1.3em;
    font-weight: 600;
    font-style: normal;
    margin-left: 7px;
  }
  
.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    height: 75px;
}

.nav-item {
    padding: 0;
    margin: 0 10px 0 10px;
    font-size: 1.2em;
}

.navbar-logo {
    transform: scale(1.5); /* Increases size by 50% */
    margin: 10px;
  }

  .btn-outline-success {
    color: #8b53ff !important;
    border-color: #8b53ff !important;
  }
  .btn-outline-success:hover {
    color: #fff !important;
    background-color: #8b53ff !important;
  }

  .btn-profile:hover .fa-user {
    color: white !important;
  }

